.quickcreation-frontend form {
    input, select, textarea {
        background: #fff;
    }

    select.widthcentpercentminusx, span.widthcentpercentminusx:not(.select2-selection):not(.select2-dropdown), input.widthcentpercentminusx {
        width: 100% !important;
        margin-bottom: 2em;

        .select2-container--default, .select2-selection--multiple {
            --border-color: var(--form-element-border-color);
            width: 100%;
            border:var(--border-width) solid var(--border-color);
            border-radius:var(--border-radius);
            outline:0;

            input {
                margin: 0;
            }
        }
    }

    input[type=range] {
      width: 75%;
      -webkit-appearance: none;
      cursor: -webkit-grab;
      -webkit-transition: border 1000ms ease;
      transition: border 1000ms ease;

      /* Add this gradient background property */
      background: -webkit-linear-gradient(left, rgba(198, 40, 40, 1) 0%, rgba(56, 142, 60, 1) 100%);
      background: -moz-linear-gradient(left, rgba(198, 40, 40, 1) 0%, rgba(56, 142, 60, 1) 100%);
      background: linear-gradient(to right, rgba(198, 40, 40, 1) 0%, rgba(56, 142, 60, 1) 100%);
    }
}
